Ignore/
*~
*/*~
v_rep_python/images/
code/dijk*
code/freetype-2.6/
code/freetype*
code/lab/nonacad/
code/lab/acad/*.txt
code/lab/acad/results/
code/lab/acad/logs/
code/lab/acad/metadata/
code/lab/acad/observations/
code/lab/acad/concept_maps/
code/lab/acad/code/c++/
code/lab/acad/code/java/
code/lab/acad/code/matlab/
code/lab/acad/code/misc/
code/lab/acad/code/others/ros/
code/lab/acad/code/v-rep/
